#container 
{
	background-color: white;
	height: 224px;
	width: 224px;
}

.block 
{
	background-color: white;
	border: 1px solid black;
	height: 10px;
	width: 10px;
	margin: 1px;
	float: left;
}

.highlight
{
	background-color: black;
}